.doctoc-detail-container {
    height: 500px;

    .intro-doctor {
        padding: 20px 110px;
        display: flex;

        .content-left {
            width        : 20%;
            background   : center center / cover no-repeat;
            width        : 120px;
            height       : 120px;
            border-radius: 50%;
            margin       : 10px 20px;
        }

        .content-right {
            width         : 80%;
            display       : flex;
            flex-direction: column;
            padding-left  : 10px;

            .up {
                padding-top: 15px;
                font-size  : 20px;
                font-weight: 600;
            }

            .down {
                padding-top: 10px;
                font-size  : 14px;
                font-weight: 400;
                color      : #555;
            }
        }
    }

    .schedule-doctor {
        margin: 0 100px;
        display: flex;
        padding: 10px 0;

        .content-left {
            width: 50%;
        }
        .content-right {
            width: 50%;
        }
    }

    .detail-doctor {
        padding         : 20px 110px;
        background-color: #f9f9f9;
        margin-bottom   : 20px;
        border-bottom   : 1px solid #ccc;

        border-top: 1px solid #ccc;

        h3 {
            font-size: 16px;
        }

        img {
            width: 100%;
        }
    }
}