.doctor-schedule-container {

    .all-schedule {}

    .all-available-time {
        .text-calendar {
            color : #333;
            margin: 10px 0;

            span {
                i {
                    margin-right: 5px;
                }

                text-transform: uppercase;
            }
        }

        .time-content {

            .time-content-btns {
                display  : flex;
                gap      : 15px;
                flex-wrap: wrap;
                margin-bottom: 10px;

                .btn-schedule {
                    padding         : 5px 10px;
                    background-color: #eee;
                    border          : 2px solid transparent;

                    &:hover {
                        background-color: #33b0e3;
                        color           : white;
                        border          : 2px solid #33b0e3;
                    }

                    &:disabled {
                        background-color: #ccc;
                        cursor          : not-allowed;
                        opacity         : 0.65;
                    }

                    &.vi {
                        min-width: 110px;
                    }

                    &.en {
                        min-width: 154px;
                    }
                }
            }

            .no-schedule {
                font-style : italic;
                font-weight: 400;
                font-size  : 14px;
            }
        }
    }
}