.doctor-schedule-container {

    .all-schedule {}

    .all-available-time {
        .text-calendar {
            color : #333;
            margin: 10px 0;

            span {
                i {
                    margin-right: 5px;
                }

                text-transform: uppercase;
            }
        }

        .time-content {
            display  : flex;
            gap      : 15px;
            flex-wrap: wrap;

            .btn-schedule {
                padding         : 5px 10px;
                background-color: #eee;
                border          : 2px solid transparent;

                &:hover {
                    background-color: #33b0e3;
                    color           : white;
                    border          : 2px solid #33b0e3;
                }

                &:disabled {
                    background-color: #ccc;
                    cursor          : not-allowed;
                    opacity         : 0.65;
                }

                &.vi {
                    min-width: 110px;
                }

                &.en {
                    min-width: 154px;
                }
            }
        }
    }
}